#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap:15px;
  background-color: rgb(50, 64, 64);
  padding: 15px;
  border-radius: 10px;
}

#email:hover, #password:hover {
  background-color: rgb(25, 25, 96);
}

.submit:hover {
  background-color: rgb(25, 25, 96);
}
.error{
  color:red;
}